label {
  color: #a5a5ac;
  display: block;
}

[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: flex;
  line-height: 25px;
  margin-top: -2.8rem;
  margin-bottom: 3rem;
  margin-left: 1.3rem;
}

[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  outline: 2px solid #a5a5ac;
  border-radius: 100%;
  left: 8px;
  top: 8px;
}

[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  outline: 2px solid #5be080;
  border-radius: 100%;
  left: 8px;
  top: 8px;
}

[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  left: 8px;
  top: 8px;
  background-image: url(img/check.png);
  background-size: contain;
}

input {
  background-color: unset;
  border: unset;
  border: 1px solid #a5a5ac;
  border-radius: 20px;
  padding: 1rem;
  width: 80%;
  color: #e3e3e5;
  font-size: 1rem;
  margin-bottom: 3rem;
}

input:valid {
  border-color: #5be080;
}

input:focus {
  outline: none;
  border: 1px solid #6249fa;
}

input:invalid:not(:placeholder-shown, :focus) {
  border-color: #f48d69;
}

.theTags {
  position: relative;
  top: -5.5rem;
  left: -7rem;
  color: #999;
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0);
  pointer-events: none;
}

.tagMove {
  position: relative;
  left: -7rem;
  top: -7rem;
  color: #999;
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  font-weight: 400;
  background-color: #16162a;
  pointer-events: none;
}
